name: UI Schema Validation

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Validate JSON against Schema
        uses: vanekj/validate-json-action@v1
        with:
          # Path to your schema file
          schema: ./schema/v1/schema.json
          # Glob pattern for your UI JSON files
          pattern: ./examples/*.json