name: UI Schema Validation

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate UI JSON examples
        uses: vanekj/validate-json-action@v1.2.0
        with:
          schema: schema/v1/schema.json
          pattern: examples/*.json
